footer {
    background: var(--color-bg-variant);
    border-top: 1px solid var(--color-border);
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;
}

.footer__logo {
    font-family: var(--font-display);
    font-size: 1.6rem;
    color: var(--color-primary);
    margin-bottom: 2rem;
    display: inline-block;
}

.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
}

.permalinks a {
    color: var(--color-light);
}

.permalinks a:hover {
    color: var(--color-primary);
}

.footer__socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 3rem;
}

.footer__socials a {
    background: transparent;
    color: var(--color-light);
    border: 1px solid var(--color-border);
    padding: 0.8rem;
    border-radius: 0.4rem;
    display: flex;
}

.footer__socials a:hover {
    color: var(--color-primary);
    border-color: var(--color-primary);
}

.footer__copyright {
    color: var(--color-light);
}

/* ================== MEDIA QUERIES ================ */
@media screen and (max-width: 600px) {
    .permalinks { flex-direction: column; gap: 1.5rem; }
    .footer__socials { margin-bottom: 2.6rem; }
}
